<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- General description of the web application -->

    <display-name>DeepaMehta</display-name>
    <description>
      DeepaMehta
      by J\u0x9arg Richter (jri@freenet.de)
    </description>

    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.
    -->

    <context-param>
      <param-name>service</param-name>
      <param-value>mysql5</param-value>
      <description>
        Selects a DeepaMehta service.
        If this parameter is not set the "default" service will be used.
        To configure DeepaMehta services see the file install/client/dms.rc
      </description>
    </context-param>

    <context-param>
      <param-name>language</param-name>
      <param-value>en</param-value>
    </context-param>

    <context-param>
      <param-name>country</param-name>
      <param-value>US</param-value>
    </context-param>

    <!-- Servlet definitions for the servlets that make up
         the web application.
    -->

    <servlet>
      <servlet-name>DeepaMehta</servlet-name>
      <description>DeepaMehta Controller</description>
      <servlet-class>de.deepamehta.webfront.SearchServlet</servlet-class>
    </servlet>

    <!-- Define mappings that are used by the servlet container to
         translate a particular request URI (context-relative) to a
         particular servlet.
    -->

    <servlet-mapping>
      <servlet-name>DeepaMehta</servlet-name>
      <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.
    -->

    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>

</web-app>
