body, td {
	font-family: Verdana, sans-serif;
	line-height: 1.4em;
}

.topicinfo {
	display: none;
	background: #f0f0f0;
	position: absolute;
	top: 50px;
	left: 200px;
	padding: 8px;
	border-width: 13px medium medium medium;
	border-color: #e0e0e0;
	border-style: solid;
}

.closebox {
	position: absolute;
	top: -15px;
	left: -2px;
}